@charset "utf-8";

.logo{
	font-size: 17px;
}

.showcase{
	background: url(../img/showcase.jpg) no-repeat;
	background-position: center;
	height: 600px;
	padding: 140px 100px;
	color: #fff;
}

.showcase h1{
	
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.showcase hr{
	width: 100px;
	margin: auto;
	border-width: 3px;
	border-color: #f44336;
}

.showcase p{
	font-size: 16px;
	padding-bottom: 20px;
}

.welcome{
	padding: 40px 0px;
}

.welcome h2{
	padding: 0;
	margin: 0;
}

.welcome img{
	width: 100%;
}

.fa{
	
	font-size: 50px;
}

@media screen and (max-width:600px){
	
	body{
		margin-top: 190px;
	}
	
	.showcase{
		height: 400px;
		padding: 60px 0;
	}
}








