﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinel Serviços de Formação</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    @Html.Raw(ViewBag.erro)
    @RenderBody()
    <!--FOOTER-->
    <footer class="w3-black w3-padding-large w3-center">
        <p>CINEL Todos os direitos reservados &copy;  @DateTime.Now.Year</p>
    </footer>
    <!--JANELA MODAL-->
    <div id="abre-janela" class="w3-modal">
        <div class="w3-modal-content">
            <header class="w3-container w3-red">
                <span onClick="document.getElementById('abre-janela').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h2>Inscrição</h2>
            </header>
            <div class="w3-container">
                <form method="post" id="modal">
                    <div class="w3-section">
                        <input type="hidden" name="nameform" value="modal">
                        <label>Nome</label>
                        <input class="w3-input w3-border w3-margin-bottom" name="Nome" type="text" placeholder="Insira nome">
                        <label>Utilizador</label>
                        <input class="w3-input w3-border w3-margin-bottom" name="Utilizador" type="text" placeholder="Insira user">
                        <label>Senha</label>
                        <input class="w3-input w3-border w3-margin-bottom" name="Password" type="password" placeholder="Insira  senha">
                        <label>Confirmar Senha</label>
                        <input class="w3-input w3-border w3-margin-bottom" name="PasswordC" type="password" placeholder="Confirme senha">
                        <button class="w3-black w3-btn-block w3-section w3-padding" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 
</body>
</html>
