﻿@{
    ViewBag.Title = "Home Page";
}

<header>
    <nav class="w3-top">
        <div class="w3-bar w3-black">
            <span class="logo w3-bar-item w3-mobile">Cinel Serviços Formação</span>

            <span class="w3-right w3-mobile">
                <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Home</a>
                <a href="#sobre" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Sobre</a>
                <a href="#cursos" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Cursos</a>
                <a href="#contatos" class="w3-bar-item w3-button w3-mobile w3-hover-blue">Contatos</a>
            </span>
        </div>
    </nav>
</header>
<section class="showcase">
    <div class="w3-container w3-center">
        <h1 class="w3-text-shadow w3-animate-opacity">Sonhe...</h1>
        <hr>
        <p class="w3-animate-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non laudantium, velit architecto est ad quis! Quo velit consequuntur aspernatur, voluptas, ab, voluptate eligendi blanditiis et vero quisquam aliquam perspiciatis minus aliquid eum. Eaque corporis, reprehenderit, animi temporibus fuga non quidem?</p>
        <button onClick="document.getElementById('abre-janela').style.display='block'" class="w3-button w3-red w3-large w3-opacity">Começa Aqui</button>
    </div>
</section>
<section class="welcome w3-red w3-hover-opacity">
    <div class="w3-container w3-center">
        <i class="fa fa-home"></i>
        <h2>Bemvindos</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit in voluptates maxime sint quod. Fuga quos, nobis dolores saepe dolore aspernatur tempore iste culpa! Dolore.</p>
    </div>
</section>
<section class="welcome w3-light-gray w3-hover-opacity">
    <div class="w3-container w3-center">
        <i class="fa fa-cog"></i>
        <h2>Inscreva-se</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam officia repellat non quam, sequi ratione commodi. Doloribus fuga, atque numquam explicabo illo quidem unde et!</p>
    </div>
</section>

<!--Sobre-->
<section id="sobre" class="welcome">
    <div class="w3-container">
        <div class="w3-row-padding">
            <div class="w3-col m5">
                <img src="img/about.jpg">
            </div>

            <div class="w3-col m7">
                <button class="w3-btn w3-block w3-black w3-left-align">O que fazemos</button>
                <div id="fazemos" class="w3-container w3-show">
                    <h3>Fazemos Tudo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quas corporis tenetur, earum at unde neque cupiditate quos numquam perferendis.</p>
                </div>

                <button onClick="Acc_Function('quem')" class="w3-btn w3-block w3-black w3-left-align">Quem Somos</button>
                <div id="quem" class="w3-container w3-hide">
                    <h3>Somos Cinel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quas corporis tenetur, earum at unde neque cupiditate quos numquam perferendis.</p>
                </div>

                <button onClick="Acc_Function('estamos')" class="w3-btn w3-block w3-black w3-left-align">Onde Estamos</button>
                <div id="estamos" class="w3-container w3-hide">
                    <h3>Estamos em todo lado</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quas corporis tenetur, earum at unde neque cupiditate quos numquam perferendis.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--CURSOS-->
<section>
    <header id="cursos" class="welcome w3-red w3-hover-opacity">
        <div class="w3-container w3-center">
            <h1 class="w3-text-shadow">Nossos Cursos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea deleniti quibusdam laborum placeat, voluptate, molestiae delectus! Odit dolorem voluptas reprehenderit nihil impedit eligendi, cupiditate at.</p>
        </div>
    </header>
    <section class="welcome w3-light-gray">
        <div class="w3-container w3-center">
            <div class="w3-row">

                <div class="w3-col m3">
                    <i class="fa fa-medium w3-red w3-padding-small w3-round-xlarge"></i>
                    <h3>Produtos Multimédia</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="w3-col m3">
                    <i class="fa fa-cubes w3-red w3-padding-small w3-round-xlarge"></i>
                    <h3>Programação</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="w3-col m3">
                    <i class="fa fa-wifi w3-red w3-padding-small w3-round-xlarge"></i>
                    <h3>Redes</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <div class="w3-col m3">
                    <i class="fa fa-television w3-red w3-padding-small w3-round-xlarge"></i>
                    <h3>Eletrónica</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div>
        </div>
    </section>
</section>
<!--CONTATOS-->

<section>
    <header id="contatos" class="welcome w3-dark-grey w3-hover-opacity">
        <div class="w3-container w3-center">
            <h1 class="w3-text-shadow">Contate-nos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorem nobis ratione, tempora tenetur fuga maxime, rerum maiores laudantium. Eius inventore ducimus, doloribus asperiores aliquam?</p>
        </div>
    </header>
    <section class="welcome">
        <div class="w3-container">
            <div class="w3-card-4">
                <div class="w3-container w3-dark-grey">
                    <h2>Contate-nos</h2>
                </div>
                <form class="w3-container w3-padding-large" id="contact" method="post">
                    <input type="hidden" name="nameform" value="msg">
                    <label class="w3-label">Nome</label>
                    <input class="w3-input" name="Nome" type="text">
                    <br>
                    <label class="w3-label">Email</label>
                    <input class="w3-input" name="Email" type="email">
                    <br>
                    <label class="w3-label">Mensagem</label>
                    <textarea class="w3-input w3-border" name="Mensagem" style="resize: none" type="text"></textarea>
                    <br>
                    <button type="submit" class="w3-button w3-blue">Enviar</button>
                </form>
            </div>
        </div>
    </section>
</section>